.footer {
  width: 100%;
  height: 50px;
  background-image: url(https://i.pinimg.com/originals/a9/0e/87/a90e872b0f99227239cf989d32df146b.jpg);
  background-position: bottom;
  &__navbar {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;

    &-item {
      color: rgb(224, 224, 224);
      margin: 0 30px;
      transform: scale(1, 0.8);
    }
  }
}
