<footer class="footer">
    <div class="footer__navbar">
        <ul class="footer__list">
            <li class="footer__list-item"><a>{{about}}</a></li>
            <li class="footer__list-item"><a>{{contact}}</a></li>
            <li class="footer__list-item"><a>by {{createdBy}}, {{year}}</a></li>
        </ul>
    </div>
</footer>