*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
   height: 130px;
   width: 100%;
   display: flex;
   justify-content: center;
   background-image: url(https://i.pinimg.com/originals/a9/0e/87/a90e872b0f99227239cf989d32df146b.jpg);
   background-position: bottom;
   

   &__navbar-container{
       min-width: 800px;
       height: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
   }

   &__logo{
       height: 80px;
       width: auto;
       margin: 10px;
   }

   &__navbar{

       &-list{
            display: flex;
            flex-direction: row;
            list-style: none;
           &-link{
               margin: 20px;
               color: white;
               font-size: 16px;

           }

           &-wikilink{
               text-decoration: none;
               color: white;
           }
       }
   }

}