<header class="header">
    <div class="header__navbar-container">
        <div class="header__logo-container">
            <img class="header__logo" src="{{logo}}" alt="{{logoName}}">
        </div>
        <div class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-list-link"><a>{{home}}</a></li>
                <li class="header__navbar-list-link"><a class="header__navbar-list-wikilink" href="{{wikiLinkUrl}}">{{wikiLink}}</a></li>
                <li class="header__navbar-list-link"><a>{{about}}</a></li>
            </ul>
        </div>
        <div class="header__logo-container">
            <img class="header__logo" src="{{logo}}" alt="{{logoName}}">
        </div>
    </div>
</header>