<section class="content">
    <div class="content__title-box">
        <h2 class="content__intro">These are the {{albums.length}} full-length records by</h2>
        <img class="content__header-img" src="../../../assets/img/crystal-castles-header.png">
    </div>
    <div class="content__container">
        <div class="content__item" *ngFor="let album of albums">
            <img class="content__item-albumCover" src="{{album.albumCover}}">
            <h3 class="content__item-albumName">{{album.albumName}}</h3>
            <p class="content__item-albumData">{{album.albumYear}}, {{album.albumDuration}}, {{album.songNumber}} songs</p>
            <p class="content__item-albumSinger">Main vocalist: {{album.singer}}</p>
            <ul class="content__item-songList">
                <h4 class="content__item-songList__header">Most Popular Songs:</h4>
                <li class="content__item-songList__song" *ngFor="let song of album.popularSongs">{{song}}</li>
            </ul>
        </div>
    </div>
</section>
