
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 65, 65);
}

.content{
    background-image: url("https://i.pinimg.com/originals/5b/f0/ea/5bf0ea9bb72c69ef930a5869f9c79ebe.jpg");
    background: brightness(95%);
    &__title-box{
        width: 600px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__intro{
        padding-top: 70px;
        margin-bottom: 0px;
        letter-spacing: 1px;
        font-weight: 100;
        text-shadow: 1px 1px 1px #b4b4b4;
        transform: scale(1, .9);
    }
    &__header-img{
        width: 600px;
        height: auto;
        margin-bottom: 50px;
    }
    &__container{
        min-height: 700px;
        min-width: 600px;
        max-width: 1200px;
        margin-bottom: 80px;
        padding: 0 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        &-albumCover{
            width: auto;
            height: 250px;
            box-shadow: 3px 3px 3px 1px #242424;
            margin: 10px;
        }
        &-albumName{
            font-size: 30px;
            letter-spacing: 1px;
            text-shadow: 1px 1px 1px #b4b4b4;
            margin-top: 5px;
            margin-bottom: 5px;
            transform: scale(1, .8);
        }
        &-albumData{
            margin: 5px;
            font-size: 18px;
            text-shadow: .5px .5px .5px #b4b4b4;
        }
        &-albumSinger{
            font-size: 18px;
            text-shadow: .5px .5px .5px #b4b4b4;
        }
        &-songList{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__header{
                font-size: 17px;
                margin-top: 6px;
                text-decoration: underline;
                text-shadow: .5px .5px .5px #b4b4b4;
                transform: scale(1, .85);
            }
            &__song{
                font-size: 23px;
                font-weight: bold;
                transform: scale(1, .8);
                letter-spacing: 4px;
                text-shadow: 1px 1px 1px #b4b4b4;
                text-transform: lowercase;



            }
        }
    }
}
