/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

$color-primary: black;
$main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color-font-header: white;
$color-font: black;